:root {
  --primary-color: #1c1124;
  --second-color: #684656;
  --white: #fff;
  --third-color: #ffa06f;
}
.main {
  background-color: var(--primary-color);
  font-family: "Nunito", sans-serif;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  height: 90vh;
  background-color: var(--primary-color);
}

.main-content {
  justify-content: start;
  margin-left: 20px;
  color: var(--white);
  width: 80%;
  z-index: 2;
}

.main-content h1 {
  font-size: 42px;
}

.main-content p {
  margin-top: 20px;
  font-size: 20px;
}

.main-btn {
  font-size: 17px;
  background-color: var(--second-color);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  color: var(--white);
  margin-top: 25px;
  cursor: pointer;
  position: relative;
  transition: 200ms ease-in-out;
  outline: none;
}

.main-btn a {
  position: relative;
  z-index: 2;
  color: var(--white);
  text-decoration: none;
}

.main-btn:hover {
  opacity: 0.8;
  background-color: var(--third-color);
}

.image {
  height: 70%;
  width: 70%;
}

/*mobile responsive */

@media screen and (max-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--primary-color);
  }
  .main-content {
    justify-content: center;
    color: var(--white);
    width: 80%;
    margin: 0;
  }

  .main-content h1 {
    font-size: 2.5rem;
  }
  .main-content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .image {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main-content {
    text-align: center;
  }

  .main-content h1 {
    font-size: 2.8rem;
  }

  .main-content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main-btn {
    padding: 12px 36px;
    margin-top: 2.5rem;
  }
}
